<div class="corporate_form_custom">
  <h5 class="p1"><em><span class="s1">Please fill in your contact information and we will get back to you promptly with details on our Corporate Gifting Program.</span></em></h5>
  {% form 'contact' %}

  <div class="ten columns {% if section.settings.contact_address == blank %}offset-by-three{% endif %}"style="padding:0px;">
    {% if form.posted_successfully? %}
    <p class="quote">{{ 'contact.form.post_success' | t }}</p>
    {% endif %}

    {% if form.errors %}
    <p class="quote">{{ 'general.forms.post_error' | t }}</p>

    {% assign message = 'contact.form.message' | t %}
    <ul class="center">
      {% for field in form.errors %}
      {% if field == 'form' %}
      <li>
        {{ form.errors.messages[field] }}
      </li>
      {% else %}
      <li>
        {% assign field_name = field | replace: 'body', message %}
        {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    <br class="clear" />

    <div class="five columns alpha">
      {% assign name_attr = 'contact.form.name' | handle %}
      <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
      <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
    </div>

    <div class="five columns omega">
      <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
    </div>

    <label for="ContactFormCompany">Company</label>
    <input type="text" id="ContactFormCompany" name="contact[Company]" placeholder="Company" />

    {% assign name_attr = 'contact.form.phone' | t | handle %}
    <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
    <input type="tel" id="contactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

    <label for="ContactFormNumberofboxes">Number of boxes requested</label>
    <input type="number" id="ContactFormNumberofboxes" name="contact[Number of boxes requested]" placeholder="Number of boxes requested" />

    <label for="ContactFormPurpose">Intended Purpose</label>
    <select id="ContactFormPurpose" class="purpose" name="contact[Intended Purpose]">
      <option>Conference attendees</option>
      <option>Award ceremony</option>
      <option>Employee appreciation</option>
      <option>Customer appreciation</option>
      <option>Graduation</option>
      <option class="other_selected" value="other">Other</option>
    </select>
    <input type="text" class="other_info_add" id="ContactFormPurpose" name="contact[Intended Purpose]" placeholder="Intended Purpose" style="display:none;">

    <label>International shipping? (Yes or No)</label>
    Yes <input type="radio" id="ContactFormYes" name="contact[International shipping? (Yes or No)]" value="Yes" />
    No <input type="radio" id="contactFormNo" name="contact[International shipping? (Yes or No)]" value="No" />
    <br/> 

    <label for="ContactFormBudget">Per Box Budget</label>
    <select id="ContactFormBudget" name="contact[Per Box Budget]">
      <option>$50-$75</option>
      <option>$75-100</option>
      <option>$100-$125</option>
      <option>$125-$150</option>
      <option>$150+</option>
    </select>

    {{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>

    <label for="ContactFormDateboxes">Date boxes need to arrive at destination</label>
    <input type="text" id="ContactFormDateboxes" name="contact[Date boxes need to arrive at destination]" value="{{ cart.attributes.date }}" placeholder="Date boxes need to arrive at destination"  />

    <script>
      window.onload = function() {
        if (window.jQuery) {
          let $ = window.jQuery;

          $(function() {
            $("#ContactFormDateboxes").datepicker({
              minDate: +1, 
              //maxDate: '+2M',
              beforeShowDay: $.datepicker.noWeekends
            });
          });
        }
      }
    </script>
    
    
    <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
    <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>

    <input type="submit" class="submit sign_up" value="{{ 'contact.form.send' | t }}" />
  </div>

  <br class="clear" />
  <br class="clear" />

  {% endform %}

</div>

<script>
  $(document).ready(function(){
    $("select.purpose").change(function(){
      var selectedpurpose = $(this).children("option:selected").val();
      //alert("You have selected the Option - " + selectedpurpose);
        if (this.value == 'other') {
          $('input.other_info_add').show();
        }else {
         $('input.other_info_add').hide();
        }
    });
  });
</script>
