{% include 'sidebar' %}
<style>
  h1.collection_title {
    line-height: 46px !important;
}
  
  .individual-items {
    margin-top: 30px !important;
  	padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  


</style>
<div class="twelve columns page">
        <h1 class="collection_title" id="individual-title">
    {{ page.title }}
  </h1>
  <div align="left" id="title-container">

  </div>

<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.baby-beanie.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.burp-cloth.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.onesie.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.silk-painted-scarf.content }}
</div>
  
  <div class="twelve columns page individual-items">
{{ pages.teething-ring.content }}
</div>
  

  
</div>

{% schema %}
{
  "name": "Sidebar",
  "class": "sidebar-template-section",
  "settings": [
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist2",
      "label": "Menu 2"
    },
    {
      "type": "checkbox",
      "id": "filter_by_category",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_products",
      "label": "Show types"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_vendors",
      "label": "Show vendors"
    },
    {
      "type": "page",
      "id": "collection_sidebar_page",
      "label": "Content page"
    }
  ]
}
{% endschema %}
