{% include 'sidebar' %}
<style>
  h1.collection_title {
    line-height: 46px !important;
}
  
  .individual-items {
    margin-top: 30px !important;
  	padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  

</style>
<div class="twelve columns page">
      <h1 class="collection_title" id="individual-title">
    {{ page.title }}
  </h1>
  <div align="left" id="title-container">
  </div>  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.baby-chamomile-goat-milk-soap.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.baby-powder.content }}
</div>
  
 <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.bath-fizzies.content }}
</div> 
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.beehive-beeswax-candle.content }}
</div> 
  
   <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.body-butter.content }}
</div> 
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.carrot-and-mango-goat-milk-soap.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.coffee-mug.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.confetti-goat-milk-soap.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.cranberry-goat-milk-soap.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.diaper-rash-cream.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.fresh-linen-soy-candle.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.kitchen-towel.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.kitchen-towel-avocado.content }}
</div>
 
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.leather-bangle.content }}
</div>

  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.lip-balm.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.little-bowl.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.local-brew-goat-milk-soap.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.lotus-flower-stationary.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.medium-serving-bowl.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.mendota-red-candle.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.mini-terrace-chair.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.mrs-ring-bowl.content }}
</div>
  
   <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.my-cheesy-socks.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.pasta-bowl.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.pear-redwood-soy-candle.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.planter.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.diffuser.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.rose-soap.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.shaving-puck.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.stamped-coffee-spoon.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.sugar-scrub.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.union-terrace-coasters-each.content }}
</div>
 
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.youre-a-peach-notecard-set.content }}
</div> 
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.wiscoboxes-t-shirt.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.wisconsin-coloring-book.content }}
</div>
   
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.wisconsin-cutting-board.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.wisconsin-socks.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.wisconsin-stamped-money-clip.content }}
</div>
  
      <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.wooden-spoon.content }}
</div>
  
      <div class="twelve columns page individual-items">
{{ pages.wooden-spreading-knife.content }}
</div>
  
  <div class="twelve columns page individual-items">
{{ pages.zipper-pouch.content }}
</div>
  
</div>

{% schema %}
{
  "name": "Sidebar",
  "class": "sidebar-template-section",
  "settings": [
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist2",
      "label": "Menu 2"
    },
    {
      "type": "checkbox",
      "id": "filter_by_category",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_products",
      "label": "Show types"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_vendors",
      "label": "Show vendors"
    },
    {
      "type": "page",
      "id": "collection_sidebar_page",
      "label": "Content page"
    }
  ]
}
{% endschema %}
