{% include 'sidebar' %}
<style>
  h1.collection_title {
    line-height: 46px !important;
}
  
  .individual-items {
    margin-top: 30px !important;
  	padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  

</style>
<div class="twelve columns page">
    <h1 class="collection_title" id="individual-title">
    {{ page.title }}
  </h1>
  <div align="left" id="title-container">

  </div>
  <div class="twelve columns page individual-items" id="featured-collection-container" >
{{ pages.apple-crisp-mix.content }}
</div>

  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.bacon-cheddar-popcorn.content }}
</div>
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.badger-blush.content }}
</div>
 
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.beef-jerky.content }}
</div>
  
   <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.beer-cheese-dip-mix.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.big-nuts-peanut-brittle.content }}
</div> 
  
<div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.big-stuff-red.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.blue-heeler.content }}
</div>
    
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.brittlicious-peanut-brittle.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.bucky-badger-cheddar-cheese.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.calico-popcorn-kernels.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.candied-pecans.content }}
</div>

    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.chana-masala.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.chicken-tikka-masala.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.chocolate-covered-cherries.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.classic-white-crackers.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.cranberry-almond-cocoa-nib-granola.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.cranberry-hazelnut-crisps.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.cranberry-pear-hot-pepper-sauce.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.cranberry-pear-sweet-pepper-sauce.content }}
</div>
  
   <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.creamed-honeya.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.crema-kasa.content }}
</div>
    
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.cupcake-sugar-cookie.content }}
</div> 
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.cupola.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.driftless.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.espresso-beans.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.farmhouse-pancake-mix.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.field-3.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.figs-and-black-tea-preserves.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.finis.content }}
</div>
   
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.flower-sugar-cookie.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.football-cheddar-cheese.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.fresh-roasted-garlic-cooking-oil.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.fried-shallot-cooking-oil.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.green-bay-puddles.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.green-bay-wisconsin-and-football-stadium-frosted-sugar-cookies.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.heart-sugar-cookie.content }}
</div> 
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.honey-bear.content }}
</div>
  
   <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.honey-dill-mustard.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.honey-sticks.content }}
</div> 
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.hot-habanero-cooking-oil.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.jalapeno-lime-cooking-oil.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.landjager.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.latitude-43.content }}
</div>
    
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.madison-skyline-cookie.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.maple-sugar-candies.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.miss-marys-mix.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.mulling-spices.content }}
</div>
  
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.one-year-cheddar.content }}
</div> 
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.orginal-bbq-sauce.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.pure-cottonseed-cooking-oil.content }}
</div>
  
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.pure-maple-syrup.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.riesling.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.root-beer.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.samwell-sheep-cheddar.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.saucisson-sec-sausage-2-oz.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.sea-salt-caramels-2-piece.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.sea-salt-caramels-5.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.sea-salt-dark-chocolate-toffee.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.smoky-chipotle.content }}
</div>
    <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.smoky-gouda.content }}
</div> 
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.spiced-pecans.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.summer-sausage.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.summer-sausage-sticks.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.sweet-guajillo-pepper-cooking-oil.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.tart-cherry-and-white-tea.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.tasting-chocolate-assortment.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.the-rattlesnake-specialty-cheddar.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.toasted-cumin-cooking-oil.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.tomato-mustard.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.triple-popcorn-mix.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.truffles-4-piece.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.vin-10.content }}
</div>
  
  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.wisconsin-butter-chocolate-bar.content }}
</div>

  <div class="twelve columns page individual-items" id="featured-collection-container">
{{ pages.Wisconsin-sugar-cookie.content }}
</div> 
</div>

{% schema %}
{
  "name": "Sidebar",
  "class": "sidebar-template-section",
  "settings": [
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist2",
      "label": "Menu 2"
    },
    {
      "type": "checkbox",
      "id": "filter_by_category",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_products",
      "label": "Show types"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_vendors",
      "label": "Show vendors"
    },
    {
      "type": "page",
      "id": "collection_sidebar_page",
      "label": "Content page"
    }
  ]
}
{% endschema %}
