<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

{{ 'bootstrap.css' | asset_url | stylesheet_tag }}

<style>
    .stickys {
      position: fixed;
      top: 0;
      width: 100%;
    }
    .stickys + .content {
      padding-top: 102px;
    }
  
  </style>
 
  {{ 'ps-custom.css' | asset_url | stylesheet_tag }}
  {% assign product_list = page.metafields.custom.parent_products.value %}
  {% comment %} {{ product_list | json }}  {% endcomment %}
  <div class="ps-custom-container">
    <div id="page-load" style="display:none;visibility:hidden;z-index:-1;"></div>
    <div id="ps-contents">
      <div class="step1-container tab" style="display:block">
          <h1 id="main-prod-title" data-price="10.00" class="product_name ps-text-center" itemprop="name">Choose Your Box Size</h1>
        <div class="description ps-text-center">
          <h4><span style="font-weight: 600;">Welcome to the easiest way to send someone a custom gift, in 3 simple steps. Add to cart and repeat for multiple boxes, or update your quantity in the cart.</span></p>
           <p><span style="font-weight: 600;">Select your preferred box size then choose items from the categories in step 2. </span></p>
          <div class="container" style="width:100%">
            <div class="packageRow"> 
              {% for product in product_list %}
                <div class="packageCol">
                  <a href="/pages/build-your-box-builder?product_id={{ product.id }}?product-box={{ product.title }}" onclick="showCustomBox(event)">
                    <img src="{{ product.images |  first |  image_url }}" alt="{{ product.title }}">
                    <p>{{ product.title }}</p>
                  </a>
                </div>
              {% endfor %}                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  
  
  
  

  
